*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu{
    width: 250px;
    height: 100vh;
    background: black;
    color: white;
    position: fixed;
    left: -240px;
    top: 0;
    transition: all ease 1s;
}

#clock{
    width: 512px;
    height: 512px;
    margin: 50px auto;
    position: relative;
}

#sec, #min{
    display: block;
    top: 0;
    position: absolute;
    left: 0;
}