.progress{
    width: 500px;
}

.alert{
    display: none;
    margin: 20px;
    width: 300px;
}

.al2{
    display: none;
    margin: 20px;
    width: 300px;
}

.body{
    background-color: #3f7d64;
    width: 100%;
}