* {
  font-family: Arial, Helvetica, sans-serif;
}
.goods-block {
  display: flex;
  margin-left: 100px;
  width: 150px;
  font-size: 1.4em;
}

.goods-block img {
  width: 50%;
}
p {
  padding-left: 5px;
}

h1 {
  color: blueviolet;
}
.Error {
  color: rgb(255, 0, 0);
}

li {
  margin-right: 5px;
  display: inline-flex;
}
